#buttonAllId {
    background-color: white;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

#buttonAllId:hover {
    background-color: #e2e3e5;
    border-radius: 6px;
}

@media (max-width: 767px) {
    #hideon767 {
        display: none !important;
    }
}

@media (max-width: 575px) {
    #hideon575 {
        display: none !important;
    }
}